<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">

    <h1 class="text-5xl font-bold my-5">About US</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere amet alias earum asperiores, eius reprehenderit accusantium itaque, assumenda corrupti dolores veritatis iste, voluptate iure ab? Ratione delectus nisi magnam vitae!</p>
</section>