---
import Layaout from "../layouts/layaout.astro"
---
<Layaout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, officiis tempore ipsum placeat, fugiat, ex suscipit commodi repellat vero magnam fuga consequuntur? Doloribus consectetur quis, saepe quidem, nisi molestias nihil ipsum omnis non consequuntur maxime reprehenderit porro soluta tenetur nemo. Minus obcaecati eveniet, dignissimos voluptatum dolores voluptas commodi dolore cum facere, reiciendis modi alias soluta laudantium deserunt inventore aspernatur consequatur officiis distinctio dolorem accusantium. Ea eligendi similique odit assumenda impedit, eos explicabo rem aliquam repudiandae. Veritatis doloribus exercitationem, aspernatur doloremque commodi optio ducimus rerum earum enim beatae omnis sapiente, sequi tenetur ea. Rem eius corporis mollitia delectus. Iste, facilis consequatur?</p>
</Layaout>